body {
	/*background-color: black;*/
	background-color: #D6DAD0;
	padding: 0px;
	margin: 0 auto;
	min-width: 320px;
	/*width:1280px;*/
}

ul {
	margin:0;
	padding:0;
}

li {
	list-style: none;
}

input::-moz-focus-inner { 
	border: 0;
	padding: 0;
}

input[type="button"] {
	border: 3px solid #A69887;
	background-color: #A69887;
	color: #FFF1E1;
	border-radius: 5px;
	text-align: center;
	margin: 1px;
	width: 100px; 
	height: 20px;
	padding: 0px;
}

input[type="button"]:hover {
	border: 3px solid #916B60;
}

input[type="button"][disabled] {
		border: 3px solid #aaa;
		/*border-bottom: 3px solid #888;*/
		-webkit-box-shadow: inset 0 0 5px 2px #A69887, 0 1px 0 0 #A69887;
		box-shadow: inset 0 0 5px 2px #A69887, 0 1px 0 0 #A69887;
		color: #bfbfbf;
}

caption {
	margin: 0px;
	color: #999999;
}

input[type=text],input[type=password] {
	display: block;
	border: 0px;
	font-family: Helvetica, monaco;
	background-color: #999999;
	border-radius: 5px;
	padding: 2px;
}

textarea {
	display: block;
	border: 0px;
	font-family: Helvetica, monaco;
	font-size: 14px;
	background-color: #999999;
	border-radius: 5px;
	padding: 2px;
	resize: none;
}

input {
	width: 123px;
}

table, td {
	border: 0px solid #999999;
	border-radius: 5px;
	font-family: Helvetica;
	text-align: center;
	padding: 4px;
	table-layout:fixed;
}​

table {
	padding : 5em;
}

strong {
	font-weight: bolder;
	font-family: Helvetica;
}