body {
    background-color: black;
}

caption {
    margin: 5px;
}
#terminal {
    color: #999999; font-family: courier, monaco; font-size: 9pt;
    width: 100%;
}

input {
    width: 123px;
}

table, td {
    border-collapse: collapse;
    padding: 2px;
    border: 2px solid #999999;
    font-family: Helvetica;
    width: 100%;
    text-align: center;
}

th {
    padding: 2px;
    border: 1px solid #999999;
    font-family: Helvetica;
    text-align: center;
    background-color: #999999;
    color: black;
}

strong {
    font-weight: bolder;
    font-family: Helvetica;
}

.background-property-cell {
    border: 1px solid #999999;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    background: #999999;
    color: black;
    width: 130px;
}
.background-value-cell {
    border: 1px solid #999999;
    border-bottom: 1px solid #999999;
    border-right: 1px solid #999999;
    background: black;
    color: #999999;
    width: 130px;
}

.tooltip {
    background-color: black;
    border: 2px solid #999999;
    color: #999999;
    height: 20px;
    position: relative;
    padding: 5px;
    font-weight: bold;
    font-family: Helvetica;
    margin: 5px;
}