.box-info {
	display: block;
	margin: 2px;
	color: #999999;
	width: 99%;
	overflow: visible;
	display: inline-block;
	vertical-align: middle;
}

.box-1-info {
	height: auto;
	margin: 2px;
	display: inline-block;
	vertical-align: middle;
	font-size:14px;
	white-space: nowrap;
}

.reports-1-panel {
	width: 99%;
	text-align: center;
	line-height: 10px;
	margin: 0 auto;
	height: auto;
}

.background-property-cell {
	border: 1px solid;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	background-image:-webkit-linear-gradient(#898989,#777777,#989898);
	background-image:-moz-linear-gradient(#898989,#777777,#989898);
	color: black;
	width: 110px;
}
.background-value-cell {
	border: 1px solid;
	border-bottom: 1px solid #999999;
	border-right: 1px solid #999999;
	background: black;
	color: #999999;
	width: 110px;
}

.controlContainer {
	border : 1px solid #888888;
	margin: 0 auto;
	width:90%;
}

#loadMask {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:black;
	display:none;
}

#loginForm {
	display:none;
	width: 300px;
	height: 150px;
	background-color: #999999;
	border-radius: 5px;
	position:absolute;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -75px;
	opacity:1;
	font-family: Helvetica;
	text-align: center;
	table-layout:fixed;
	font-size: 9pt;
}

.windowHeader {
	border-radius:2px;
	background-color:grey;
	width:100%;
	height:20px;
	display:block;
}

.loginFormLayout {
	width:100%;
	height:50px;
	position:absolute;
	top:50%;
	margin-top:-35px;
}

#usernameField, #passwordField {
	background-color: black;
	color:#999999;
}

#incorrectDataInfo {
	position:absolute;
	bottom:0px;
	border-radius:2px;
	background-color:grey;
	width:100%;
	display:none;
}

#apolloCSM_control, #apolloLM_control, #houstonMC_control {
	display: none;
}

.controlNavigation {
	width: 100%;
	padding: 1px;
}

#chatInput {
	width:99%;
	height:15px;
	margin-top:1px;
	background-image:-webkit-linear-gradient(#898989,#777777,#989898);
	background-image:-moz-linear-gradient(#898989,#777777,#989898);
}

#messageBox {
	height:60px;
	width:99%;
	background-image:-webkit-linear-gradient(#898989,#777777,#989898);
	background-image:-moz-linear-gradient(#898989,#777777,#989898);
}

.terminal {
	color: #999999;
	font-family: Helvetica;
	font-size: 15px;
	min-width : 60%;
	margin: 0 auto;
}

#saturnVconfig {
	cursor: pointer;
}

@media all and (min-width: 1200px) {
	.terminal {
		max-width: 1200px;
	}	
}

@media all and (max-width: 768px) {
	.box-1-info[data-type="additional-data-768"] {
		display: none;
	}
}

@media all and (max-width: 980px) {
	.terminal {
		width: 100%;
	}
	.box-1-info[data-type="additional-data-980"] {
		display: none;
	}
}

@media all and (max-width: 560px) {
	.box-1-info[data-type="additional-data-560"] {
		display: none;
	}
}

@media all and (max-width: 550px) {
	.reports-1-panel[data-type="additional-data-550"] {
		display: none;
	}
}

.terminal table {
	color : black;
	background-image:-webkit-linear-gradient(#898989,#777777,#989898);
	background-image:-moz-linear-gradient(#898989,#777777,#989898);
}

.terminal td.title {
	border: 0px;
	font-weight:bold;
	width:33%;
}

.terminal td.title-left {
	text-align: left;
}

.terminal td.title-center {
	text-align: center;
}

.terminal td.title-right {
	text-align: right;
}

.link {
	border: 0px;
	text-decoration: underline;
	cursor: pointer;
}