.box-info {
	display: block;
	margin: 5px;
	color: #999999;
	width: 80em;
	overflow: visible;
	display: inline-block;
	vertical-align: middle;
}

.box-1-info {
	height: auto;
	margin: 5px;
	display: inline-block;
	vertical-align: middle;
	font-size:14px;
	white-space: nowrap;
}

.reports-1-panel {
	width: 100%;
	max-width:1280px;
	text-align: center;
	line-height: 12px;
	margin: 0 auto;
	height: auto;
	/*float: left;*/
}

.background-property-cell {
	border: 1px solid;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	background: #999999;
	color: black;
	width: 110px;
}
.background-value-cell {
	border: 1px solid;
	border-bottom: 1px solid #999999;
	border-right: 1px solid #999999;
	background: black;
	color: #999999;
	width: 100px;
}

.container {
	width: 300px;
	height: 150px;
	background-color: #999999;
	border-radius: 5px;
	-moz-border-radius: 5px;
	position:absolute;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -75px;
	opacity:1;
	font-family: Helvetica;
	text-align: center;
	table-layout:fixed;
	font-size: 9pt;
}

.controlContainer {
	border : 1px solid #888888;
	/*background-color: #191919;*/
	margin: 0 auto;
	width:90%;
}